%header{ :class => "navbar navbar-fixed-top navbar-inverse" }
  %div.navbar-inner
    %div.container
      = link_to "Siphon", root_path, id: "logo"
      %nav
        %ul{:class => "nav span10"}
          %li= link_to "Join", join_path
          %li= link_to "Log In", login_path
          %li= link_to "Upload", upload_path
          %form{:class => "navbar-search pull-right"}
            %input{:type=> "text", :class => "search-query", :placeholder => "Search"}